// Fonts
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Armata&display=swap');

// Globals
$text: #1A1A1A;
$text_hover: #6d6d6d;
$dark: #454545;
$white: #F7F7F7;
$light: #F3F3F3;
$test: #4e53d2;
$red: #d02525;

// Reset
@import 'scss/reset';

// Pages
@import 'scss/home/home';
@import 'scss/not-found/not-found';
@import 'scss/about/about';
@import 'scss/contact/contact';
@import 'scss/project/project';
@import 'scss/projects/projects';

// Components
@import 'scss/components/nav';
@import 'scss/components/footer';
@import 'scss/components/menu';
@import 'scss/components/lines';
@import 'scss/components/buttons';
@import 'scss/components/inputs';
@import 'scss/components/animations';
@import 'scss/components/tag';