// Fonts
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('//db.onlinewebfonts.com/c/dbb5d50716af7c45dd357a6a585d7a9e?family=MoolBoran');

// Globals
$text: #1A1A1A;
$text_hover: #6d6d6d;
$dark: #454545;
$white: #F7F7F7;
$light: #F3F3F3;
$test: #4e53d2;

// Reset
@import './scss/reset';

// Pages
@import './scss/home/home';

// Components
@import 'scss/components/header';
@import './scss/components/footer';
@import './scss/components/nav';